footer {
    margin: 0 auto;
    width: 1024px;
    height: 190px;
    border-top: 1px solid #c5c5c5;
}

footer nav ul {
    float: left;
    margin: 12px 100px 18px 0;
}

footer h5 {
    margin-bottom: 5px;
    white-space: nowrap;
    color: #333;
}

footer nav li {
    margin-bottom: 3px;
}

footer a {
    font-size: 13px;
    color: #666;
}

#trademark_footer {
    position: relative;
    float: left;
    width: 100%;
    border-top: 1px solid #c5c5c5;
}

#trademark_footer ul {
    overflow: hidden;
    margin: 12px 0 14px 0;
}

#trademark_footer li {
    float: left;
    margin-right: 15px;
}

#trademark_footer a {
    font-size: 12px;
    white-space: nowrap;
}

#trademark_footer h5 {
    color: #999;
    font-weight: normal;
    margin-bottom: 15px;
}

#trademark_footer img {
    position: absolute;
    right: 0;
    top: 10px;
}