 /* <Pre-defined rules> */
ul {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

body {
    font-family: sans-serif;
    font-size: 14px;
    background-image: url('../../../asset/img/bg_body.png');
}

 input[type="text"] {
     padding: 0 8px;
     height: 24px;
     width: 180px;
     border: 2px solid rgb(217, 217, 217);
 }

 textarea {
    padding: 8px;
    border: 2px solid rgb(217, 217, 217);  
 }

 input[type="text"]:hover, textarea:hover {
     border-color: #b3b3b3;
 }

 .padding_bottom_5px {
     padding-bottom: 5px;
 }

/* </Pre-define rules> */

/* <header-section> */
header {
    width: 1024px;
    height: 140px;
    margin: 50px auto 0 auto;
    background-color: #1992da;
    position: relative;
    border: 2px solid rgb(5, 57, 94);
}

#header_logo {
    position: relative;
    left: -30px;
    top: -35px;
    background-color: white;
    padding: 10px 18px;
    border-radius: 5px;
}

#header_top_bar {
    position: relative;
    top: -27px;
    float: right;
}

/* <signin-section> */
#btn_sign_in_box {
    background-color: rgb(5, 57, 94);
    padding: 7px 0;
    text-align: center;
    width: 90px;
    float: left;
    margin-right: 90px;
    position: relative;
    top: -5px;
    font-size: 14px;
    color: #f3f3f3;
}

#btn_sign_in_box:hover {
    cursor: pointer;
}

.sign_in_box {
    display: none;
    width: 240px;
    z-index: 1;
    padding: 8px 15px 5px 15px;
    position: absolute;
    top: 25px;
    left: -96px;
    border: 2px solid rgb(5, 57, 94);
    background-color: rgba(240, 247, 252, 0.9);
}

.sign_in_box table {
    margin: 10px auto 0 auto;
}

.sign_in_box input[type="checkbox"] {
    position: relative;
    top: 3px;
    left: 8px
}

.sign_in_box label {
    font-size: 12px;
}

.sign_in_box tr:last-child td {
    text-align: right;
    font-size: 13px;
}

#horizon_social_bar {
    margin: 0;
    float: left;
}

#horizon_social_bar li {
    margin-right: 10px;
    float: left;
}

#telephone {
    position: absolute;
    right: 140px;
    bottom: 70px;
    color: #fbfbfb;
}

#header_nav {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

#header_nav > ul > li {
    float: left;
}

/* positioning language dropbox */
 #languages_switch_box {
    position: absolute;
    right: 6px;
    bottom: 7px;
}

.header_nav_item {
    display: inline-block;
    padding: 11px 13px 10px 13px;
    font-size: 15px;
    color: #f1f1f1;
    white-space: nowrap;
}

.header_nav_item:hover {
    text-shadow: 0 0 3px white;
}

 #header_nav_subject_list {
     display: none;
     border: 2px solid #03428e;
     background-color: rgba(240, 247, 252, 0.9);
     position: absolute;
     z-index: 1;
 }

 #header_nav_subject_list a {
     display: inline-block;
     padding: 11px 0 11px 18px;
     width: 120px;
     font-size: 14px;
     color: rgb(23, 96, 147);
 }

 #header_nav_subject_list a:hover {
     background-color: #03428e;
     color: white;
 }

#search_box {
    position: absolute;
    left: 600px;
    bottom: 7px;
    height: 24px;
}

#search_box img:hover {
    cursor: pointer;
}

#search_box input {
    display: none;
    color: rgb(98, 98, 98);
    width: 180px;
    padding: 0 8px;
    height: 24px;
    border: 2px solid rgb(217, 217, 217);
    position: relative;
    top: -9px;
}

/* Language label */
 #languages_switch_box label {
    position: relative;
    top: 1px;
    right: 2px;
    font-size: 14px;
    color: #f1f1f1;
}

 #language_list {
     color: rgb(98, 98, 98);
     height: 25px;
     border: 2px solid rgb(217, 217, 217);
 }

/* </header-section> */

#main {
    overflow: hidden;
    padding-bottom: 40px;
    width: 1024px;
    margin: 30px auto 0 auto;
}